<p>In this page users can search about the selection of the government collected complaints about the finanacial entitis in the related states</p>
<h1>search </h1>
<p>Find me in app/views/search/result.html.erb</p>
