<h2>Whistleblower</h2>
<p>SignUp <input type="text"></p>
<p>Signin <input type="text"></p>
<p>skip</p>
<p>search <input type='search' ></p>
<p>about the website</p>
<p>concept of how to get the infromation of the the complaint</p>
<p><a href="/home/signup">Sign up page</a></p>
<%= link_to('Sign up page2', {:action => 'signup'}) %>

