/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    background:#ccc;
    margin:0;
    padding:0;
 }

 .main_form{
    width:800px;
    background-color:rgba(255,250,250,.8);
    padding:0 40px;
    position:absolute;
    left:50%;
    margin-left:-440px;
    content:" ";
    height:100%;
    top:0;
 }

.radio_btn{
    margin:0;
    font-family:helveticaNeue;
    color:#505050;
    display:inline-block;
    padding:20px;
    width:200px;
    border-bottom:1px solid #000;
    margin:1px 0 0 1px;

}
.res {width:100%;height:400px!important;overflow: scroll;border-bottom:3px solid orange;}
table{width:100%;}
table td{border-bottom: 1px solid #505050;}
tr:nth-child(even) {background: #eee}
table th{border-bottom: 2px solid #505050;text-align:left;}
.count{text-align:right;}
input{width:200px;height:20px;font-family:helveticaNeue;font-size:.9em;}
button{}
